<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>verificar</title>
</head>

<body>
    <div class="conteiner">
    <!-- <div class="container-form sign-up">
        <h2>Bienvenido a subastar.lo</h2>
        </div> -->
        <form class="formulario" action="/veri" method="post">
            <h2 class="create-account">Cambio de clave</h2>
            <div class="iconos">
                <div class="border-icon">
                    <i class='bx bxl-instagram'></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-linkedin' ></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-facebook-circle' ></i>
                </div>
            </div>
            <p class="cuenta-gratis">Verificar Contraseña</p>
            <input class="input" type="password" name="password" placeholder="Contraseña actual">
            
            <button class="button">Verificar</button> <br> <br><br> 
            <a href="/" class="button">volver al inicio</a>

        </form>
    </div>
</div>
</body>

</html>