@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background:  rgba(218, 218, 218) no-repeat;
    background-size: cover; 
}

.container{
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    width: 30%;
    position: fixed;
    left: 35%;
    top:10%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.warning{
    background: rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
    padding: 50px;
    text-align: center;
    width: 200%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px  ;
}

p{
    color:#22203b;
    font-size: 34px;
}

.warning i{
    color:#22203b;
    font-size: 4.5rem;
}

button{
    background:rgb(26, 187, 187);
    border: none;
    padding: 20px;
    width: 130px;
    box-shadow: rgba(190, 13, 13, 0.24) 0px 3px 8px;
    border-radius: 5px ;
    padding:20px;
}
a{
  font-family: 'Poppins', sans-serif;    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}