
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.iconos{
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-size: 39px;
}
.sidebar{
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
  
}

.sidebar .logo-details .logo_name a{
  text-decoration: none;
  color: #fff;
  
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #22203b;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #22203b;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: static;
  height: 100%;
  width: calc(100% - 0px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 0px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
  margin-top: 4%;
  margin-left: 7%;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 55px;
  font-weight: 600;
  
}
@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 0px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}
.container-slider{
  width: 42%;
  max-width: 900px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
                 position: relative;
 }
 .slider{
 display: flex;
 width: 400%;
 height: 300px;
 margin-left: -100%;
 }
 .slider__section{
 width: 100%;
 }
 .slider__img{
 display: block;
 width: 100%;
 height: 100%;
 
 }
 .slider__btn {
   position:absolute;
     width: 40px;
     height: 40px;
     background: rgb(255, 255, 255);
     top: 50%;
     transform:translateY(-50%);
     font-size: 30px ;
     font-weight: bold;
     font-family: monospace ;
     text-align: center;
     border-radius: 50%;
     cursor: pointer;
 
 }.slider__btn:hover{
 background: #fff;
 }
 .slider__btn--right{
 right: 10px;
 }
 .slider__btn--left{
 left: 10px;
 }
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #8e8f92;
    font-family: 'Open Sans', sans-serif;
}

::selection{
  background: #fee6eb;
}
.principal{
display: flex;
justify-content: space-evenly;  
margin-top: 10%;
}
.secundario{
  display: flex;
flex-direction: row;
margin: 200px;
background: #ffffff;  
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
border-radius:15px ;
}
.caja1{
  padding: 50px;
}
.caja1 h1{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.caja1 p{
  font-size:16px;
}
.caja1 button{
  outline: none;
  border:none;
  margin-top: 200px;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: rgb(26, 187, 187);;
  cursor: pointer;
  transition: all 0.3s ease;
}
.caja1 button:hover{
  transform: scale(0.98);
}
.caja2{
  background: url(https://res.cloudinary.com/dwczm63h6/image/upload/v1660744314/M%C3%A1s-de-dos-millones-de-euros-en-una-subasta-de-objetos-de-Hawking_xes9pz.jpg) no-repeat;
  background-position:center;
  background-size:cover;
  width: 100%;
  border-radius:0px 15px 15px 300px ;
}
.caja2 img{

  background: #FFF;
}
.inicio{
  margin: 90px;
  font-size: 25px;
  padding: 0px;
}
.inicio span{
  color: rgb(26, 187, 187);

}
@import url('https://fonts.googleapis.com//css2?family=Poppins:wght@300;400;500;600&display=swap');

.slide_container{
	max-width: 1120px;
	width: 100%;
	padding: 20px 20px;
  position: relative;
  top: -90px;
}
.slide-content{
	padding: 45px 20px;
	margin: 0 40px;
}
.card{
	border-radius: 25px;
	background-color:#FFF ;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  margin-bottom: 10px;
}
.image-content,
.card-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 14px;
}
.image-content{
	position: relative;
	row-gap: 5px;
	padding: 25px 0;

}
.overlay{
	position: absolute;
  left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(26,187,187) ;
	border-radius: 25px 25px 0 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.overlay::before,
.overlay::after{
	content:'';
	position: absolute;
	right: 0;
	bottom: -40px;
	height: 40px;
	width: 40px;
	background-color: rgb(26,187,187);
}
.overlay::after{
	border-radius: 0 25px 0 0;
	background-color:  rgb(252, 252, 252);
}
.card-image{
	position: relative;
	height: 150px;
	width: 150px;
  border-radius: 50%;
	background: #FFF;
	padding: 3px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.card-image .card-img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 4px solid rgb(26,187,187) ;
}
.name{
	font-size: 18px;
	font-weight: 500;
	color:black;
}
.descripcion{
	font-size: 14px;
	color: #707070;
	text-align: center;
}

.button{
	border: none;
	font-size: 16px;
	color: #fff;
	padding:8px 16px;
	background-color: rgb(26,187,187);
	border-radius: 6px;
	margin: 14px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.button:hover{
	background: rgb(25, 223, 223);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.pie-pagina{
  background-color: #131224;
  position: relative;
  margin-top: 50px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}




::selection{
  color: #fff;
  background: #1cc7d0;
}
.wrapper{
  height: 400px;
  width: 320px;
  position: relative;
  transform-style: preserve-3d;

}
.wrapper .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #0d2033;
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
  margin-bottom: 30px;
}
.wrapper:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.wrapper .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper .back-face img{
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}
.wrapper .back-face .info{
  text-align: center;
  color: #fff;
}
.back-face .info .title{
  font-size: 30px;
  font-weight: 500;
}
.back-face ul{
  display: flex;
}
.back-face ul a{
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  transition: all 0.5s ease;
}
.back-face ul a:hover{
  color: #1cc7d0;
  border-color: #1cc7d0;
  background: linear-gradient(375deg, transparent, transparent);
}


.dividir{
    display: flex;
    justify-content: space-around
    
}
.targeta2{
    margin-right: 20px;
}

.misi{
    align-items: center;
    text-align: center;
    padding-top: 140px;
    font-size: 30px;
    color: aliceblue;
    background:#0d2033;
}







@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #11101d;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #11101d;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #11101d;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #11101d;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: rgb(25, 223, 223);
}

.swiper-navBtn{
  color: #11101d;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #11101d;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #11101d;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #11101d;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
